body {
    margin: 0;
    padding: 0;
    font-size: 22px;
    line-height: 1.5;
}


.oranje {
    background-color: #E87C18;
    height: 300px;

}

.oranje p {
    margin: 0px 150px 0px 150px ;
    padding-top: 65px;
    color: #DD2217;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.rood {
    background-color: #DD2217;
    height: 300px;

}

.rood p {
    margin: 0px 150px 0px 150px ;
    padding-top: 65px;
    color: #E87C18;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.paars {
    background-color: #73298D;
    height: 300px;

}

.paars p {
    margin: 0px 150px 0px 150px ;
    padding-top: 65px;
    color: #FFEC01;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.geel {
    background-color: #FFEC01;
    height: 300px;

}

.geel p {
    margin: 0px 150px 0px 150px ;
    padding-top: 65px;
    color: #73298D;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}