body {
    margin: 0;
    padding: 0;
    font-size: 22px;
}


.oranje {
    background-color: #E87C18;
    height: 300px;

}

.oranje p {
    margin: 0px 150px 0px 150px ;
    padding-top: 65px;
    color: #DD2217;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.rood {
    background-color: #DD2217;
    height: 300px;

}

.rood p {
    margin: 0px 150px 0px 150px ;
    padding-top: 65px;
    color: #E87C18;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}