body {
    background: yellow;
    
      @media (min-width: 810px) {
        background: rgb(122, 227, 174);
    }

          @media (min-width: 1110px) {
        background: rgb(255, 148, 166);
    }
}

h1{
    font-size: 200px;
    text-align: center;
}

